<form #myForm="ngForm" (ngSubmit)="myForm.valid && AddKitten()">
  <fieldset>
    <label for="name">Nom</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="kitten.name"
      #name="ngModel"
      name="kittenName"
      minlength="2"
      maxlength="12"
      required
    />
  </fieldset>

  <div *ngIf="myForm.submitted">
    <small *ngIf="name.errors?.['required']">Nom est un champ requis</small>
    <small *ngIf="name.errors?.['minlength']">Minimum 2 charactères</small>
  </div>

  <fieldset>
    <label for="race">Race</label>
    <input
      type="text"
      id="race"
      [(ngModel)]="kitten.race"
      #race="ngModel"
      name="kittenRace"
      minlength="2"
      required
    />
  </fieldset>

  <div *ngIf="myForm.submitted">
    <small *ngIf="race.errors?.['required']">Race est un champ requis</small>
    <small *ngIf="race.errors?.['minlength']">Minimum 2 charactères</small>
  </div>

  <fieldset>
    <label for="birthday">Date de naissance</label>
    <input
      type="date"
      id="birthday"
      [(ngModel)]="kitten.birth"
      #birth="ngModel"
      name="kittenBirth"
      required
    />
  </fieldset>

  <div *ngIf="myForm.submitted">
    <small *ngIf="birth.errors?.['required']">Date est un champ requis</small>
  </div>

  <fieldset>
    <label for="link">Lien de photo</label>
    <input
      type="text"
      id="link"
      [(ngModel)]="kitten.image"
      #link="ngModel"
      name="kittenImg"
      minlength="10"
      required
    />
  </fieldset>

  <div *ngIf="myForm.submitted">
    <small *ngIf="link.errors?.['required']">lien est un champ requis</small>
    <small *ngIf="link.errors?.['minlength']">Minimum 10 charactères</small>
  </div>

  <button type="submit">Ajouter</button>
</form>
